*.vs
*.log
*.bak
*.BAK
*.CKP
*.hex
*.out
*.readelf
*.o
*.dump
* Copy.xcf
*.xcf.in
*.xcf_old
**/larva_mdp_c_Implmnt_0013_no_uart_pins_broken/
**/larva_mdp_c_Implmnt/[!s]*
**/larva_mdp_c_Implmnt/s[!b]*
**/larva_mdp_c_Implmnt/sbt/[!c]*
**/*_Implmnt_0013_no_uart_pins_broken/
**/*_Implmnt/[!s]*
**/*_Implmnt/s[!b]*
**/*_Implmnt/sbt/[!c]*
hw/syn/ice40up/*/*.tcl
*.swp
sw/hello_world/software/hello_world
sw/uart_example/software/uart_example
obj/
emacs.core
.sconsign.dblite
